@using Gestion_Bunny.Services
@inherits LayoutComponentBase
@inject AuthenticationState AuthState
@inject PageTitleService TitleService
@inject NavigationManager Navigation

@if (AuthState.IsAuthenticated && !AuthState.CurrentUser.TempPassword)
{
    <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="pt-3 top-row px-4">
            <div class="title-container">
                <h1>@TitleService.Title</h1>
                <span class="date">@GetFormattedDate()</span>
            </div>

            <div class="right-container">

                <!-- User info -->
                <div class="user-info">
                    <div class="user-details">
                        @if (AuthState.CurrentUser != null)
                        {
                            <div class="user-name"> @(AuthState.CurrentUser.FirstName + " " + AuthState.CurrentUser.LastName) </div>
                            <div class="user-position">@AuthState.GetCurrentUserRole().RoleName</div>        
                        }
                        else
                        {
                            <div class="user-name">Guest</div>
                            <div class="user-position">No role assigned</div>
                        }
                    </div>

                    <div class="user-circle">
                        @if (AuthState.CurrentUser != null)
                        {
                            <span class="user-initials">
                                @AuthState.CurrentUser.GetInitials()
                            </span>
                        }
                    </div>

                </div>

                <!-- Icons -->
                <div class="icons">
                    @if (AuthState.GetCurrentUserRole().RoleName == "Admin" || AuthState.GetCurrentUserRole().RoleName == "Gérant")
                    {
                        <a href="#"  @onclick="Profile" ><img src="images/gear.svg" alt="Paramètre" class="img-icon" /></a>
                        <a href="#"><img src="images/bell.svg" alt="Notifications" class="img-icon" /></a>
                    }
                    <!-- Logout Button -->
                    <a href="#" @onclick="Logout">
                        <img src="images/box-arrow-right.svg" alt="Déconnexion" class="img-icon" />
                    </a>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
        </main>
    </div>
}
else
{
    <div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
}

@code {
    protected override void OnInitialized()
    {
        TitleService.OnTitleChanged += StateHasChanged;
    }

    public void Dispose()
    {
        TitleService.OnTitleChanged -= StateHasChanged;
    }

    private string GetFormattedDate()
    {
        var date = DateTime.Now;
        var formattedDate = date.ToString("dddd, d MMMM yyyy", new System.Globalization.CultureInfo("fr-FR"));

        var dayOfWeek = formattedDate.Split(',')[0];
        dayOfWeek = char.ToUpper(dayOfWeek[0]) + dayOfWeek.Substring(1).ToLower();

        var result = formattedDate.Replace(formattedDate.Split(',')[0], dayOfWeek);

        return result;
    }

    // Logout handler
    private void Logout()
    {
        AuthState.SetUnauthenticated();
        Navigation.NavigateTo("/");

    }

    private void Profile()
    {
        Navigation.NavigateTo("/profile");
    }
}
