@page "/"
@using Gestion_Bunny.Modeles;  
@using Microsoft.EntityFrameworkCore;
@inject Gestion_Bunny.Services.IEmployeeService EmployeeService


<PageTitle>Home</PageTitle>

<h1>Bienvenue chez Bunny&Co.</h1>

<p>Welcome to your new app running on <em>@platform</em>.</p>

@if (randomEmployee != null)
{
    <div>
        <h3>Random Employee</h3>
        <p><strong>Name:</strong> @randomEmployee.FirstName @randomEmployee.LastName</p>
        <p><strong>Email:</strong> @randomEmployee.Email</p>
        <p><strong>Birthdate:</strong> @randomEmployee.BirthDate.ToShortDateString()</p>
        <p><strong>Social Insurance Number:</strong> @randomEmployee.SocialInsuranceNumber</p>
    
    </div>
}
else
{
    <p>Loading random employee...</p>
}

@code {
    private string platform => DeviceInfo.Platform.ToString(); 
    private Employee randomEmployee;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Fetch a random employee when the page is initialized
            randomEmployee = await EmployeeService.GetRandomEmployeeAsync();
        }
        catch (Exception ex)
        {
            // Handle error fetching employee
            Console.WriteLine($"Error fetching random employee: {ex.Message}");
        }
    }
}

